<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- my services page -->
<div class="py-5 container mb-5">
    <section class="section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="container-title text-center mb-4 pb-2">
                        <div class="titles">
                            <h2 class="title text-capitalize mb-4 fw-bold">Services I Offer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- services I offer  -->
    <section class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3 center-block">
                        <img src="/assests/images/service1.jpeg"
                            class="img-responsive center-block d-block mx-auto col-lg-4">
                    </div>
                    <div class="services-texts text-center">
                        <h3 class="title mb-3">Web App Developmnet</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without
                            coding.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3 center-block">
                        <img src="/assests/images/service2.jpeg"
                            class="img-responsive center-block d-block mx-auto col-lg-4">
                    </div>
                    <div class="services-texts text-center">
                        <h3 class="title mb-3">Mobile Development</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without
                            coding.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3 center-block">
                        <img src="/assests/images/service3.jpeg"
                            class="img-responsive center-block d-block mx-auto col-lg-4">
                    </div>
                    <div class="services-texts text-center">
                        <h3 class="title mb-3">Designing and Planning</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without
                            coding.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3 center-block">
                        <img src="/assests/images/service4.jpeg"
                            class="img-responsive center-block d-block mx-auto col-lg-4">
                    </div>
                    <div class="services-texts text-center">
                        <h3 class="title mb-3">UI/ UX</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without
                            coding.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3 center-block">
                        <img src="/assests/images/service5.jpeg"
                            class="img-responsive center-block d-block mx-auto col-lg-4">
                    </div>
                    <div class="services-texts text-center">
                        <h3 class="title mb-3">Dev-ops</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without
                            coding.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="feature-widget text-left rounded">
                    <div class="services-icon text-primary mb-3 center-block">
                        <img src="/assests/images/service6.jpeg"
                            class="img-responsive center-block d-block mx-auto col-lg-4">
                    </div>
                    <div class="services-texts text-center">
                        <h3 class="title mb-3">Branding</h3>
                        <p class="text-light-muted mb-4">With lots of unique blocks, you can easily build a page without
                            coding.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>