<!--Import Header and Navigation bar-->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- home page -->
<section class="py-5 text-center container">
  <div class="row py-lg-8">
    <div class="col-lg-8 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome</h1>
      <h1 class="mb-4">
        I am <span id="typed">|</span>
      </h1>
      <p class="lead text-muted mb-5">I am delighted to know that you dropped by to get to know me.</p>
      <h2 class="mb-3"><u>Mission</u></h2>
      <p class="lead text-muted">I'm a Software Developer with over 4 years of experience. Experienced with all stages
        of the development.I thrive for consistency and integrity of the creations of my team.
        I want to work in a bank as a software engineer as I have experience in the banking domain. I am open to work
        from any location.</p>
      <p>
        <!-- link to about me page and my projects page -->
        <a href="about" class="btn btn-primary my-2">About Me</a>
        <a href="projects" class="btn btn-secondary my-2">My Projects</a>
      </p>
    </div>
  </div>
</section>

<!-- Import Footer and Bottom navigation bar-->
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>