<!--Import Header and Navigation bar-->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- my projects page -->
<section class="py-5 container">
  <section class="section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="container-title text-center mb-4 pb-2">
            <div class="titles">
              <h2 class="title text-capitalize mb-4 fw-bold">Projects I Developed</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- List of projects I have worked -->
  <section class="text-left container project-card">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assests/images/img_project_1.png" class="img-fluid rounded-start" alt="...">
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">Completed</span>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">1. BSc. Final Year Project: Interior Designer</h5>
            <p class="card-text">
              The main objective of the system is to redesign the existing house without hiring an interior designer.
              The main components of the project as follows,
            <ul>
              <li>Image processing based 2D Object detection and manipulation module.</li>
              <li>2D to 3D model reconstruction module</li>
            </ul>
            The project components include a desktop, web and a mobile application. The project involves technological
            areas such as Image processing and Algorithms.
            </p>
            <h6 class="text-muted">Technologies:</h6>
            <span class="badge bg-secondary">C#</span>
            <span class="badge bg-secondary">.NET</span>
            <span class="badge bg-secondary">OpenCV</span>
            <span class="badge bg-secondary">Android</span>
            <span class="badge bg-secondary">MATLAB</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-left container project-card">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assests/images/img_project_2.jpg" class="img-fluid rounded-start" alt="...">
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">Completed</span>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">2. Library Management System</h5>
            <p class="card-text">
              A web based system to handle book details, student details and information of loans.
            </p>
            <h6 class="text-muted">Technologies:</h6>
            <span class="badge bg-secondary">C#</span>
            <span class="badge bg-secondary">.NET</span>
            <span class="badge bg-secondary">MS SQL</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-left container project-card">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assests/images/img_project_3.jpg" class="img-fluid rounded-start" alt="...">
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">Completed</span>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">3. Video Rental System</h5>
            <p class="card-text">
              A desktop application to handle movie details, customer details and handling of rental information.
            </p>
            <h6 class="text-muted">Technologies:</h6>
            <span class="badge bg-secondary">Java</span>
            <span class="badge bg-secondary">MySQL</span>
            <span class="badge bg-secondary">Jasper Reports</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-left container project-card">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assests/images/img_project_4.jpg" class="img-fluid rounded-start" alt="...">
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">Completed</span>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">4. Personal Internet Banking – Soft Token</h5>
            <p class="card-text">
              Software token is regulated by the Monetary Authority of three countries (Singapore, Malaysia and
              Thailand) which is a replacement for hardware token. Instead of secure device to generate the key, user
              can use their mobile banking application to authenticate all the high risk and high value transactions. A
              simple push notification is sent to the mobile application where the user can accept or deny to accomplish
              a particular transaction instead of one-time password. This gives the convenience without compromising on
              the security.
            </p>
            <h6 class="text-muted">Technologies:</h6>
            <span class="badge bg-secondary">Java</span>
            <span class="badge bg-secondary">OracleDB</span>
            <span class="badge bg-secondary">Springframework</span>
            <span class="badge bg-secondary">Javascript</span>
            <span class="badge bg-secondary">jQuery</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-left container project-card">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assests/images/img_project_5.jpg" class="img-fluid rounded-start" alt="...">
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">Completed</span>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">5. Digital Banking – Retail Bond (Indonesia)</h5>
            <p class="card-text">
              Retail bond is a regulatory project of Indonesian government. It’s used for paying the government tax, and
              to buy bonds which is fully backed by the Indonesian government, and can redeem the matured bond.
            </p>
            <h6 class="text-muted">Technologies:</h6>
            <span class="badge bg-secondary">Java</span>
            <span class="badge bg-secondary">OracleDB</span>
            <span class="badge bg-secondary">Springframework</span>
            <span class="badge bg-secondary">Javascript</span>
            <span class="badge bg-secondary">jQuery</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-left container project-card">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assests/images/img_project_6.jpg" class="img-fluid rounded-start" alt="...">
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">Completed</span>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">6. IFS R&D International (Pvt) Ltd</h5>
            <p class="card-text">
              IFS Applications is a single, integrated application suite that enables global and demanding businesses to
              successfully handle Service & Asset Management, Manufacturing, Projects and Supply Chain Management.
            </p>
            <h6 class="text-muted">Technologies:</h6>
            <span class="badge bg-secondary">Java</span>
            <span class="badge bg-secondary">OracleDB</span>
            <span class="badge bg-secondary">Springframework</span>
            <span class="badge bg-secondary">Javascript</span>
            <span class="badge bg-secondary">jQuery</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Import Footer and Bottom navigation bar-->
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>